.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: #f5f5f5;
}

.color-blue {
  color: #ffffff;
  background-color: #015dfc;
  ;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  color: #000000;
}

.dashboard-content {
  display: flex;
  width: 100%;
  padding: 20px;
}

.dashboard-left {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.card {
  color: #fff;
  display: flex;
  width: 33.3%;
  flex-direction: column;
  background-image: linear-gradient( 111.5deg, rgba(20,100,196,1) 0.4%, rgba(33,152,214,1) 100.2% );  border-radius: 5px;
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card p {
  text-align: right;
}

.card h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-map {
  display: flex;
  width: 50%;
  height: 60vh;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dashboard-right {
  display: flex;
  flex: 2;
  flex-wrap: wrap;
}

.card:nth-child(3n+1) {
  margin-right: 0;
}

@media only screen and (max-width: 768px) {

  .dashboard-left {
    flex-direction: column;
  }

  .dashboard-header {
    display: none;
  }

  .card {
    width: 100%;
    margin-bottom: 10px;
    margin-left: 0;
  }

  .dashboard-content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .dashboard-left {
    width: 100%;
  }

  .card-map {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }

}